@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Outfit', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Outfit', sans-serif;
}

.event-card-description {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: initial;
	-webkit-line-clamp: 4;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}